# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Local OS files
.DS_Store
Thumbs.db


/.quarto/
**/*.quarto_ipynb

# Quarto local preview/build output
/_site/
.quarto-preview.*.log
